body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

form {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

input[type="text"],
input[type="range"] {
    width: calc(80% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: calc(80% - 20px);
}

input[type="text"][disabled] {
    background-color: #f4f4f4;
    color: #777;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #ccc;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #ccc;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #0056b3;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #0056b3;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #0056b3;
}

input[type="range"]::-moz-range-thumb:active {
    background: #0056b3;
}

input[type="range"]::-webkit-slider-thumb:focus {
    outline: none;
}

input[type="range"]::-moz-range-thumb:focus {
    outline: none;
}
